body {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #0C0C0C;
    font-size: large;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navigation-a {
    text-decoration: none;
    color: inherit;
    margin-right: 2em;
    position: relative;
    transition: color 0.3s ease;
}

.navigation-a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 100%;
    height: 2px;
    background-color: #E9C874;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.navigation-a:hover {
    color: #E9C874;
}

.navigation-a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

#nav-logo {
    height: 70px;
    width: auto;
    margin-right: 1em;
}

#download-section {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

#atbp-logo {
    height: 300px;
    width: auto;
    justify-content: center;
}

#button {
    text-decoration: none;
    background-color: #e4be35;
    color: black;
    margin-top: 1em;
    padding: 1em 3em;
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid white;
    border-radius: 0.35em;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    cursor: pointer;
}

#button:hover {
    background-color: #f7ce3c;
    color: white;
    border-color: #f7ce3c;
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#windows-img {
    height: 30px;
    width: auto;
}

#button-text {
    margin: 0 0 0.5em 0;
}

#download-header {
    margin-top: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#patch-notes-section {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 20% 0 20%;

}

.patch-box {
    width: 20%;
    height: 10vh;
    text-align: center;
    font-size: 1.3em;
    margin: 1em;
    border: 2px solid white;
    background-color: #E9C874;
    cursor: pointer;
    border-radius: 0.5em;
    opacity: 0.85;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease; /* Gigi Noob */
}

.patch-box:hover {
    transform: scale(1.05); 
    background-color: #E9B74C; 
    opacity: 1;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.patch-box p {
    margin-bottom: 0.3em;
}

#tools-img {
    height: 30px;
    width: auto;
}

.patch-notes-content {
    margin: 1em 20% 0 20%;
    background-color: #0C0C0C;
    color: white;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border: 1px solid white;
}

.patch-notes-ul {
    margin: 1em 0 0 0;
}

.patch-notes-content h2 {
    margin-left: 1em;
}

.patch-notes-image-section {
    margin-left: 1.5em;
}

.patch-notes-image-section p {
    font-weight: bold;
    color: #e4be35;
    margin: 0.5em 0 0 0;
}

.patch-notes-image-section img {
    height: 8vh;
    width: 8vh;
}

.balance-ul {
    margin: 1em 0 2em 2em;
}

.patch-notes-content li {
    list-style-type: square;
}

.wiki-area {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em 15% 0 15%;
    background-color: #0C0C0C;
    color: white;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border: 2px dotted #e4be35;
}

.wiki-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wiki-page-header h1 {
    margin-bottom: 0;
}

.wiki-navigation {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.item {
    text-align: center;
}

.item a {
    transition: transform 0.3s ease;
}

.item a:hover {
    color: #f7ce3c;
}

.wiki-navigation img {
    width: 10vh;
    height: 10vh;
    display: block;
    margin-bottom: 0.3em;
    transition: transform 0.3s ease;
}

.wiki-navigation img:hover {
    transform: scale(1.1);
}

.wiki-navigation-caption {
    text-decoration: none;
    color: #e4be35
}

.wiki-champions-text {
    margin: 1em;
}

.wiki-list {
    list-style-type: square;
}

.wiki-text {
    margin-left: 1em;
}

.wiki-champion-gallery {
    margin: 0 1em 1em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.wiki-champion-gallery img {
    width: 9vh;
    height: 9vh;
    border: 1px solid white;
    border-radius: 0.3em;
    transition: transform 0.3s ease;
}

.wiki-champion-gallery img:hover {
    transform: scale(1.1);
}

.wiki-colored-text {
    color: #e4be35;
    font-weight: bold;
}

.wiki-attack-type {
    height: 3vh;
    width: 3vh;
    margin-right: 0.5em;
}

.wiki-champion-infobox {
    border-collapse: collapse;
    width: 30vh;
    text-align: center;
}

.wiki-champion-infobox td {
    background-color: rgba(27, 67, 107, 0.1);
}

.wiki-champion-infobox img {
    display: block;
    height: 40vh;
}

.wiki-champion-infobox-desc {
    color: rgb(166, 192, 191);
}

.wiki-champion-infobox th {
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #0d2c4c;
}

.wiki-champion {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-right: 2em;
}

.wiki-champion-stat-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wiki-champion-stat-p {
    margin-left: 0.2em;
    margin-bottom: 0;
    margin-top: 0;
    color: #60bcc9;
}

.wiki-champion-stat-table {
    text-align: center;
    border-collapse: collapse;
    margin-right: 2em;
}

.wiki-champion-stat-table td, .wiki-champion-stat-table th {
    border: 1px solid #1A2833;
    padding: 0 0.5em 0 0.5em;
}

.wiki-champion-stat-table img {
    height: 2vh;
    width: 2vh;
}

.wiki-champion-stat-table th {
    background-color: #0d2c4c;
    font-weight: bold;
}


.wiki-champion-stat-value {
    margin: 0.3em 0 0 0;
    font-weight: bold;
}

.wiki-champion-stat-table td {
    width: 10vw;
    height: fit-content;
    background-color: rgba(27, 67, 107, 0.1);
}

.wiki-table-padding {
    padding: 0.5em;
}

.wiki-attack-damage {
    color: #de5d4a;
    font-weight: bold;
}

.wiki-armor {
    color: #e1b641;
    font-weight: bold;
}

.wiki-attack-speed {
    color: #de5d4a;
    font-weight: bold;
}

.wiki-power-damage {
    color: #0066ff;
    font-weight: bold;
}

.wiki-shields {
    color: #9156d2;
    font-weight: bold;
}

.wiki-health {
    color: #039403;
    font-weight: bold;
}

.wiki-regenerate {
    color: #039403;
    font-weight: bold;
}

.wiki-attack-range {
    color: #d22e15;
    font-weight: bold;
}

.wiki-speed {
    color: #ffff66;
    font-weight: bold;
}

.wiki-attack-vamp {
    color: #e71e60;
    font-weight: bold;
}

.wiki-power-vamp {
    color: #00ffff;
    font-weight: bold;
}

.wiki-crit {
    color: #d22e15;
    font-weight: bold;
}

.wiki-bold-text {
    font-weight: bold;
}

.wiki-mark-out {
    color: #60bcc9;
    font-weight: bold;
}

.wiki-champion-abilities {
    margin-bottom: 1em;
    margin-right: 1em;
}

.wiki-champion-abilities table {
    border-collapse: collapse;
}

.wiki-champion-abilities td {
    border: 1px solid #1A2833;
    background-color: rgba(27, 67, 107, 0.1);
}

.wiki-champion-abilities td p {
    margin-left: 0.5em;
}

.wiki-champion-ability-img {
    height: 10vh;
    width: auto;
}

.wiki-champion-outfits {
    text-align: center;
    border-collapse: collapse;
}

.wiki-champion-outfit-img {
    height: 12vh;
    width: 12vh;
}

.wiki-champion-outfits td {
    border: 1px solid #2b4050;
    background-color: rgba(27, 67, 107, 0.1);
}

.wiki-champion-outfit-price {
    display: flex;
    justify-content: center;
    align-items: center
}

.wiki-pb-coin-img {
    margin-left: 0.3em
}

.wiki-backpacks-list li {
    margin-bottom: 2em;
}