html {
    font-size: 16px;
}

#reddit-link-img {
    display: none;
    height: 5vh;
    width: auto;
}

#mobile-nav-open-btn {
    display: none;
    height: 5vh;
    width: auto;
}

#mobile-nav {
    position: absolute;
    left: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0C0C0C;
    text-align: left;
    font-size: 1.5rem;
    transition: left 0.3s ease;
}

#mobile-nav table {
    border-collapse: collapse;
}

#mobile-nav tr:nth-child(2) td {
    padding: 0 1rem 1rem 1rem;
}

#mobile-nav tr:nth-child(n+3) td {
    padding: 1rem;
}

#mobile-nav tr:nth-child(n+2) {
    border-bottom: 1px solid white;
}

#mobile-nav a {
    text-decoration: none;
    color: white;
}

#mobile-nav-img {
    height: 5vh;
    width: auto;
}

#mobile-nav-close {
    height: 5vh;
    width: 5vh;
    padding-top: 0.5rem;
}

body {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: #0a192f;
}

#navigation {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #112240;
    color: white;
    border-bottom: 1px solid #233554;
}

.navigation-a {
    font-size: 1.3rem;
    text-decoration: none;
    color: inherit;
    margin-right: 2rem;
    position: relative;
    transition: color 0.3s ease;
}

.navigation-a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 100%;
    height: 2px;
    background-color: #E9C874;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.navigation-a:hover {
    color: #E9C874;
}

.navigation-a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

#nav-logo {
    height: 70px;
    width: auto;
    margin-right: 1rem;
    padding: 0.2rem;
}

#download-section {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

#atbp-logo {
    max-width: 100%;
    height: 300px;
    width: auto;
    justify-content: center;
}

#button {
    text-decoration: none;
    background-color: #e4be35;
    color: black;
    margin-top: 1em;
    padding: 1em 3em;
    font-weight: bold;
    font-size: 1.7em;
    border: 2px solid white;
    border-radius: 0.35em;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.6rem rgba(0, 0, 0, 0.2);
}

#button:hover {
    background-color: #f7ce3c;
    color: white;
    border-color: #f7ce3c;
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#windows-img {
    height: 30px;
    width: auto;
}

#button-text {
    margin: 0 0 0.5em 0;
}

#download-header {
    text-align: center;
    margin-top: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#patch-notes-section {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 20% 0 20%;

}

.patch-notes-content {
    margin: 2em 20% 1em 20%;
    background-color: #081324;
    color: white;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border: 1px solid #335279;
}

.patch-notes-ul {
    margin: 0 0 1em 0;
}

.patch-notes-content h2 {
    margin-left: 1em;
}

.patch-notes-image-section {
    margin-left: 1.5em;
}

.patch-notes-image-section p {
    font-weight: bold;
    color: #e4be35;
    margin: 0.5em 0 0 0;
}

.patch-notes-image-section img {
    height: 8vh;
    width: 8vh;
}

.balance-ul {
    margin: 1em 0 2em 2em;
}

.patch-notes-content li {
    list-style-type: square;
}

/*-----------------------------WIKI-----------------------------------------------------------*/
.wiki-area {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em 15% 0 15%;
    background-color: #081324;
    color: #ffffff;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border: 1px solid #335279;
}

.wiki-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wiki-page-header h1 {
    margin-bottom: 0;
}

.wiki-navigation {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.item {
    text-align: center;
}

.item a {
    transition: transform 0.3s ease;
}

.item a:hover {
    color: #f7ce3c;
}

.wiki-navigation img {
    width: 10vh;
    height: 10vh;
    display: block;
    margin-bottom: 0.3em;
    transition: transform 0.3s ease;
}

.wiki-navigation img:hover {
    transform: scale(1.1);
}

.wiki-champions-text {
    margin: 1em;
}

.wiki-list {
    list-style-type: square;
}

.wiki-text {
    margin-left: 1em;
    text-align: left;
    line-height: 1.6;
}

.wiki-champion-gallery {
    margin: 0 1em 1em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.wiki-champion-gallery img {
    width: 9vh;
    height: 9vh;
    border: 1px solid white;
    border-radius: 0.3em;
    transition: transform 0.3s ease;
    overflow: hidden;
    display: block; 
}

.wiki-champion-gallery img:hover {
    transform: scale(1.1);
}


.wiki-monster-gallery {
    margin: 0 1em 1em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.monster-gallery-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none;
    color: #EAEAEA;
    transition: transform 0.3s ease;
}

.monster-gallery-item img {
    width: 15vh;
    height: 15vh;
    object-fit: cover; 
    border: 1px solid var(--border-color, white); 
    border-radius: 0.3em;
    display: block;
    margin-bottom: 0.5em;
}

.monster-name {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.monster-gallery-item:hover {
    transform: scale(1.1);

}

.wiki-navigation-gallery {
    margin: 0 1em 1em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.navigation-gallery-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none;
    color: #EAEAEA;
    transition: transform 0.3s ease;
}

.navigation-gallery-item img {
    width: 10vh;
    height: 10vh;
    object-fit: cover; 
    border: 1px solid var(--border-color, white); 
    border-radius: 0.3em;
    display: block;
    margin-bottom: 0.5em;
}

.navigation-name {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.navigation-gallery-item:hover {
    transform: scale(1.02);

}

#wiki-home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wiki-home-logo img {
    width: 10vw;
    height: auto;
}






















.wiki-colored-text {
    color: #e4be35;
    font-weight: bold;
}

.wiki-attack-type {
    height: 3vh;
    width: 3vh;
    margin-right: 0.5em;
}

.wiki-champion-infobox {
    border-collapse: collapse;
    text-align: center;
}

.wiki-champion-infobox td {
    background-color: rgba(27, 67, 107, 0.1);
}

.wiki-champion-infobox img {
    width: 13vw;
    height: auto;
}

.wiki-champion-infobox-desc {
    color: rgb(166, 192, 191);
}

.wiki-champion-infobox th {
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #0d2c4c;
}

.wiki-champion {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-right: 2em;
}

.wiki-champion-stat-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wiki-champion-stat-p {
    margin-left: 0.2em;
    margin-bottom: 0;
    margin-top: 0;
    color: #60bcc9;
}

.wiki-champion-stat-table {
    text-align: center;
    border-collapse: collapse;
    margin-right: 2em;
}

.wiki-champion-stat-table td, .wiki-champion-stat-table th {
    border: 1px solid #1A2833;
    padding: 0 0.5em 0 0.5em;
}

.wiki-champion-stat-table img {
    height: 2vh;
    width: 2vh;
}

.wiki-champion-stat-table th {
    background-color: #0d2c4c;
    font-weight: bold;
}


.wiki-champion-stat-value {
    margin: 0.3em 0 0 0;
    font-weight: bold;
}

.wiki-champion-stat-table td {
    width: 10vw;
    height: fit-content;
    background-color: rgba(27, 67, 107, 0.1);
}

.wiki-table-padding {
    padding: 0.5em;
}

.wiki-attack-damage {
    color: #de5d4a;
    font-weight: bold;
}

.wiki-armor {
    color: #e1b641;
    font-weight: bold;
}

.wiki-attack-speed {
    color: #de5d4a;
    font-weight: bold;
}

.wiki-power-damage {
    color: #0066ff;
    font-weight: bold;
}

.wiki-shields {
    color: #9156d2;
    font-weight: bold;
}

.wiki-health {
    color: #039403;
    font-weight: bold;
}

.wiki-regenerate {
    color: #039403;
    font-weight: bold;
}

.wiki-attack-range {
    color: #d22e15;
    font-weight: bold;
}

.wiki-speed {
    color: #ffff66;
    font-weight: bold;
}

.wiki-attack-vamp {
    color: #e71e60;
    font-weight: bold;
}

.wiki-power-vamp {
    color: #00ffff;
    font-weight: bold;
}

.wiki-crit {
    color: #d22e15;
    font-weight: bold;
}

.wiki-bold-text {
    font-weight: bold;
}

.wiki-mark-out {
    color: #60bcc9;
    font-weight: bold;
}

.wiki-champion-abilities {
    margin-bottom: 1em;
    margin-right: 1em;
}

.wiki-champion-abilities table {
    border-collapse: collapse;
}

.wiki-champion-abilities td {
    border: 1px solid #1A2833;
    background-color: rgba(27, 67, 107, 0.1);
}

.wiki-champion-abilities td p {
    margin-left: 0.5em;
}

.wiki-champion-ability-img {
    height: 10vh;
    width: auto;
}

.wiki-champion-outfit-img {
    height: 12vh;
    width: 12vh;
}

.wiki-backpacks-list li {
    margin-bottom: 2em;
}

.wiki-item-list li {
    margin-bottom: 0.5em;
}

.wiki-backpack-items-table {
    background-color: rgba(27, 67, 107, 0.1);
    border-collapse: collapse;
}

.wiki-backpack-items-table td {
    border-bottom: 1px solid #1A2833;
}

.wiki-backpack-items-table p {
    margin-left: 0.5em;
}

.wiki-backpack-image {
    width: 30vw;
    height: auto;
    margin-top: 1.5em;
    border-radius: 0.65rem;
}

.wiki-item-image {
    width: 5vw;
    height: auto;
}

#wiki-backpacks-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#wiki-backpacks-gallery img {
    max-width: 100%;
    transition: filter 0.2s ease-in-out;
}

.wiki-link {
    color: #e4be35;
    text-decoration: none;
}

.wiki-link:hover {
    color: #f1d981;
    text-decoration: underline;
}



.jungle-monster-section {
    width: fit-content;
    border: 1px solid #5381b9;
    border-radius: 5px;
    padding: 1rem;
}

.outfit {
    text-align: center;
    border: 1px solid #5381b9;
    border-radius: 5px;
    width: fit-content;
    padding: 1rem;
    font-weight: bold
}

.outfit p {
    margin-bottom: 0.5rem;
}

.outfit img:first-of-type {
    width: 135px;
    height: 135px;
}

#wiki-champion-outfits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

details {
    margin: 2% 2% 0 0;
    padding: 10px;
    border: 1px solid #5381b9;
    border-radius: 5px;
}
summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

details ul li {
    font-size: 1.1rem;
}

#wiki-navigation-mobile {
    display: none;
}

#wiki-backpacks-gallery img:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease;
    filter: brightness(1.1);
}

.monster {
    padding: 10px;
    border: 1px solid #5381b9;
    border-radius: 5px;
    width: fit-content;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monster img {
    width: 70%;
    height: auto;
}

.monster h3 {
    margin-bottom: 0;
}

.monster-group {
    display: flex;
}

/*-----------------------------/WIKI-----------------------------------------------------------*/

@media (max-width: 768px) {
    #desktop-nav {
        display: none;
    }

    #mobile-nav-open-btn {
        display: flex;
    }

    #nav-logo {
        display: none;
    }

    #navigation {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    #reddit-link-img {
        display: flex;
        padding: 0.5rem 0.3rem 0.5rem 0.3rem;
    }

    .wiki-area {
        margin: 1rem 5% 0 5%;
    }

    .wiki-navigation {
        display: none;
    }

    #wiki-navigation-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #wiki-navigation-mobile a {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }

    .wiki-champion {
        flex-direction: column;
    }

    .wiki-champion-infobox img {
        width: 50vw;
        height: auto;
    }

    .wiki-champion-stat-table {
        display: none;
    }

    .patch-notes-content {
        margin: 1rem 5% 1rem 5%;
    }

    #wiki-backpacks-gallery img {
        width: 70vw;
        height: auto;
    }
    
    .wiki-backpack-image {
        width: 80vw;
        height: auto;
    }

    .wiki-item-image {
        width: 70px;
        height: auto;
    }

    .wiki-monster-table img {
        width: 40vw;
        height: auto;
    }

}

@media (min-width: 1200px) {
    #navigation {
        font-size: 1.15rem;
    }
}