<div id="navigation">
    <a href="/index.html">
        <img src="/img/favicon.png" id="nav-logo" alt="OpenATBP Logo">
    </a>

    <div id="desktop-nav">
        <a class="navigation-a" href="/notes.html">Patch Notes</a>
        <a class="navigation-a" href="/wiki-home.html">Wiki</a>
        <a class="navigation-a" href="/spicybattle.html">Spicy Battle</a>

        <a class="navigation-a" target="_blank" href="https://discord.gg/YzJkPDjZxG" aria-label="Discord">
            <img src="/img/discord.png" alt="Discord">
        </a>

        <a class="navigation-a" target="_blank" href="https://github.com/OpenATBP/OpenATBP" aria-label="GitHub">
            <img src="/img/github.png" alt="GitHub">
        </a>
    </div>
</div>